nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 nav ul li{
margin-right: 50px;
list-style: none;
}
nav ul{
  display: flex;
}
nav li a {
  text-decoration: none;
  list-style: none;
}